*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
/*.ghost-align::before{
content: "";
height: 100%;
display: inline-block;
vertical-align: middle;
}*/
/*HEADER*/
/*HEADE*/
.logo{
  line-height: 100px;
}
.top_header{
  margin-top: 40px;
  height: 100px;
}
[class*="nav_"]{
  float: right;

}
[class*="nav_"] > li{
  display: inline-block;
  line-height: 100px;
}
[class*="nav_"] > li > a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 1rem;
}
.nav_right li:not(:last-child) a{
  border-right: 1px solid grey;
  padding-right: 1rem;
}
.burger{
  float: right;
  line-height: 100px;
  margin-right: 10px;
}
.bottom_header{
  height: 800px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  margin: 0;

}
.box-main{
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-text{
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.btn{
  height: 150px;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-left, .btn-right{
  width: 45%;
  height: 80px;
  position: relative;
  top: 30px;
  background-color: black;
  border-radius: 5px;
}
.btn-left{
  float: left;
  position: relative;
}
.btn-right{
  float: right;
}
.icon{
  color: white;
  float: left;
  line-height: 80px;
}
.icon i{
  line-height: 80px;
}
.text-icon{
  margin-left: 0.5rem;
  position: relative;

}
.btn-left .text-icon p{
  font-size: 0.5rem;
}
.btn-right .text-icon p{
  font-size: 0.8rem;
}
.text-icon p {
  color: white;
  margin-left: 0.8rem;
  margin-top: 20px;
}
.btn-left .big{
  font-size: 2rem;
}
.btn-right .big{
  font-size: 1.8rem;
}
/*MAIN*/
/*PRIMA SEZIONE*/
.first_container{
  height: 700px;
}
.row-top{
  text-align: center;
  line-height: 3rem;
}
.first_container .row-pic img{
  height: auto;
  width: 70%;
}
.row-pic{
  text-align: center;
}
.row-top a{
  text-decoration: none;
}
.container-go, .container-bike{
  background-color: #f2f6f7;
  margin-top: 6rem;
}
/*SECONDA SEZIONE*/
.second_container{
  height: 800px;
  background-image: url("../img/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.immagine {
  position: relative;
  height: 600px;
  width: 100%;
  border: 3px solid black;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.immagine img{
  height: 600px;
  width: auto;
  text-align: center;
  position: relative;
  left: 40%;
}
.immagine h2{
  display: inline-block;
  float: left;
  position: absolute;
  top: 30rem;
  left: 15rem;
  font-size: 4rem;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 480px){
  .box-main{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

  }
  .btn{
    width: 80%;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  .btn-left .big{
    font-size: 1rem;
  }
  .btn-right .big{
    font-size: 0.7rem;
  }
  .fa-4x{
    font-size: 2rem;
  }
}
@media screen and (min-width:481px) and (max-width:768px) {
  .box-main{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .box-text{
    width: 100%;
    margin-bottom: 50px;
  }
  .btn{
    width: 100%;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .btn-left .big{
    font-size: 1.3rem;
  }
  .btn-right .big{
    font-size: 1rem;
  }
}
@media screen and (min-width:769px) and (max-width:992px){
  .btn{
    width: 90%;
  }
  .btn-left .big{
    font-size: 1.7rem;
  }
  .btn-right .big{
    font-size: 1.4rem;
  }
  .btn-left, .btn-right{
    width: 45%;

  }
  p{
    display: inline-block;
  }
  .container-go, .container-bike{
    margin-top: 3rem;
  }
  .row-top{
    margin-bottom: 3rem;
  }
  .row-top p, .row-top a{
    font-size: 0.8rem;
  }
