*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
/*.ghost-align::before{
content: "";
height: 100%;
display: inline-block;
vertical-align: middle;
}*/
/*HEADER*/
/*HEADE*/
.logo{
  line-height: 100px;
}
.top_header{
  margin-top: 40px;
  height: 100px;
}
[class*="nav_"]{
  float: right;

}
[class*="nav_"] > li{
  display: inline-block;
  line-height: 100px;
}
[class*="nav_"] > li > a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 1rem;
}
.nav_right li:not(:last-child) a{
  border-right: 1px solid grey;
  padding-right: 1rem;
}
.burger{
  float: right;
  line-height: 100px;
  margin-right: 10px;
}
.bottom_header{
  height: 800px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  margin: 0;

}
.box-main{
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box-text{
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.btn{
  height: 150px;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-left, .btn-right{
  width: 45%;
  height: 80px;
  position: relative;
  top: 30px;
  background-color: black;
  border-radius: 5px;
}
.btn-left{
  float: left;
  position: relative;
}
.btn-right{
  float: right;
}
.icon{
  color: white;
  float: left;
  line-height: 80px;
}
.icon i{
  line-height: 80px;
}
.text-icon{
  margin-left: 0.5rem;
  position: relative;

}
.btn-left .text-icon p{
  font-size: 0.5rem;
}
.btn-right .text-icon p{
  font-size: 0.8rem;
}
.text-icon p {
  color: white;
  margin-left: 0.8rem;
  margin-top: 20px;
}
.btn-left .big{
  font-size: 2rem;
}
.btn-right .big{
  font-size: 1.8rem;
}
/*MAIN*/
/*PRIMA SEZIONE*/
.first_container{
  height: 700px;
}
.row-top{
  text-align: center;
  line-height: 3rem;
}
.first_container .row-pic img{
  height: auto;
  width: 70%;
}
.row-pic{
  text-align: center;
}
.row-top a{
  text-decoration: none;
}
.container-go, .container-bike{
  background-color: #f2f6f7;
  margin-top: 6rem;
}
/*SECONDA SEZIONE*/
.second_container{
  height: 1000px;
  position: relative;
}
.sfondo{
  height: 600px;
  background-image: url("../img/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.row-img{
position: relative;
}
*/
.slider{
  height: 300px;
  position: relative;
}
.cell{
  height: 500px;
  width: auto;
  position: absolute;
  top: 40%;
  left: 40%;
}
.cell img{
  height: 500px;
  width: auto;
}
.left{
  position: absolute;
  top: 50%;
  left: 10%;
  height: 100px;
  width: auto;

}
.right{
  position: absolute;
  top: 50%;
  right: 10%;
  height: 100px;
  width: auto;
}
/*TERZA SEZIONE*/
.third_container{
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.top-img{
  height: 500px;
  position: relative;
  background-image: url("../img/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.smart{
  height: 300px;
  width: 300px;
  float: right;
  position: absolute;
  top:30%;
  right: 10%;
  text-align: center;
  line-height: 2rem;
}
.font a{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.font h2{
  font-size: 2rem;
  color: white;
}
.font p{
  font-size: 1.3rem;
  color: white;
}

.l-map, .r-landscape{
  height: 360px;
  margin: 20px;
  text-align: center;
}
.l-map{
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.pos{
  margin-top: 20px;
  line-height: 2rem;
  padding-top: 20px;
}
.r-landscape{
  background-image: url("../img/land.jpg");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
/*QUARTA SEZIONE*/
/*MEDIA QUERIES*/
@media screen and (max-width: 480px){
  .box-main{
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);

  }
  .btn{
    width: 80%;
    position: absolute;
    top:70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
  .btn-left .big{
    font-size: 1rem;
  }
  .btn-right .big{
    font-size: 0.7rem;
  }
  .fa-4x{
    font-size: 2rem;
  }
  .smart{
    width: 80%;
    height: auto;
    position: absolute;
    top: 10%;
    right: 10%;
  }
  .font h2{
    font-size: 1rem;
  }
  .font p{
    font-size: 0.8rem;
  }
  .font a{
    font-size: 0.8rem;
  }
  .smart, .pos{
    line-height: 0.9rem;
  }
  .top-img{
    height: 250px;
  }
}
@media screen and (min-width:481px) and (max-width:768px) {
  .box-main{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .box-text{
    width: 100%;
    margin-bottom: 50px;
  }
  .btn{
    width: 100%;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .btn-left .big{
    font-size: 1.3rem;
  }
  .btn-right .big{
    font-size: 1rem;
  }
  .second_container{
    height: 1500px;
  }
  .cell{
    position: relative;
    left: 50%;
    top: 0;
    margin-bottom: 30px;
  }
  .cell img{
    height: 400px;
  }
  .slider{
    margin-top: 30px;
  }
  .left{
    position: relative;
    top: 70%;
    left: 50%;
  }
  .right{
    position: relative;
    left: 50%;
  }
  .l-map, .r-landscape{
    margin: 5px;
    height: 300px;
  }
  .font h2{
    font-size: 1rem;
  }
  .font p{
    font-size: 0.8rem;
  }
  .font a{
    font-size: 0.8rem;
  }
  .smart, .pos{
    line-height: 0.9rem;
  }
  .smart{
    width: 80%;
    height: auto;
  }
  .l-map, .r-landscape{
    margin: 5px;
    height: 300px;
  }
  .font h2{
    font-size: 1.5rem;
  }
  .font p{
    font-size: 0.9rem;
  }
  .font a{
    font-size: 0.9rem;
  }
  .smart, .pos{
    line-height: 1.3rem;
  }


}
@media screen and (min-width:769px) and (max-width:992px){
  .btn{
    width: 90%;
  }
  .btn-left .big{
    font-size: 1.7rem;
  }
  .btn-right .big{
    font-size: 1.4rem;
  }
  .btn-left, .btn-right{
    width: 45%;

  }
  p{
    display: inline-block;
  }
  .container-go, .container-bike{
    margin-top: 3rem;
  }
  .row-top{
    margin-bottom: 3rem;
  }
  .row-top p, .row-top a{
    font-size: 0.8rem;
  }
  .cell img {
    height: 400px;
  }
  .left{
    position: absolute;
    top: 40%;
    left: 5%;
  }
  .right{
    position: absolute;
    top: 40%;
    right: 5%;
  }
  .l-map, .r-landscape{
    margin: 5px;
    height: 300px;
  }
  .font h2{
    font-size: 1.5rem;
  }
  .font p{
    font-size: 0.9rem;
  }
  .font a{
    font-size: 0.9rem;
  }
  .smart, .pos{
    line-height: 1.3rem;
  }
